body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;    
  background: #524191;
}

.container {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background: #ce5959;
  text-align: center;
}


ul {
  padding: 0;
  list-style: none;
}

li {
  background: #67bb21;
  margin: 5px 0;
  padding: 6px;
  border-radius: 6px;
  font-size: 18px;
}

.buttons button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.buttons button:hover {
  background: #0056b3;
}

.stats {
  margin-top: 15px;
  font-size: 18px;
}
